In [1]:
import numpy as np
import matplotlib.pyplot as plt
import cartopy.crs as ccrs
import pandas as pd
# import metpy.calc as mcal
plt.rcParams['font.weight'] = 'normal'
plt.rcParams['font.family'] = 'serif'
plt.rcParams['font.size'] = 13
import warnings
warnings.filterwarnings("ignore")

In [2]:
import fitz
print(fitz.__doc__)

PyMuPDF 1.19.6: Python bindings for the MuPDF 1.19.0 library.
Version date: 2022-03-03 00:00:01.
Built for Python 3.9 on darwin (64-bit).

In [3]:
doc = fitz.open("../PIPImages.pdf")

In [4]:
doc.page_count

786

In [5]:
doc.delete_page(181)

In [6]:
doc[339].get_text("words")

[(525.3800048828125,
  45.25,
  614.8900146484375,
  58.9900016784668,
  '09:47:03.475-35086',
  0,
  0,
  0),
 (525.3800048828125,
  111.25,
  614.8900146484375,
  124.98999786376953,
  '09:49:04.075-47002',
  1,
  0,
  0)]

In [7]:
doc.delete_page(339)

In [8]:
doc.page_count

784

In [9]:
doc.metadata

{'format': 'PDF 1.3',
 'title': '',
 'author': '',
 'subject': '',
 'keywords': '',
 'creator': 'pdftk 2.02 - www.pdftk.com',
 'producer': 'itext-paulo-155 (itextpdf.sf.net-lowagie.com)',
 'creationDate': "D:20200113085534-07'00'",
 'modDate': "D:20200113085534-07'00'",
 'trapped': '',
 'encryption': None}

In [11]:
doc.page_count

784

In [12]:
time_list = []
for i in range(0, 784):
    for j in range(0,4):
        page = doc[i]
        words = page.get_text("words")
#         print(i)
        time_list.append(words[j][4])

In [13]:
ftime = []
for i in range(0, len(time_list)):
    ftime.append(time_list[i].split('-')[0])

In [14]:
xx = pd.DataFrame({"time":ftime},)

In [15]:
xx['date']  = '2019-08-23'

In [16]:
TIME = pd.to_datetime(xx.date +' '+xx.time)

In [17]:
xx['Dtime'] = TIME
xx

              time        date                   Dtime
0     07:42:00.874  2019-08-23 2019-08-23 07:42:00.874
1     07:45:20.749  2019-08-23 2019-08-23 07:45:20.749
2     07:45:21.895  2019-08-23 2019-08-23 07:45:21.895
3     07:45:22.771  2019-08-23 2019-08-23 07:45:22.771
4     07:45:28.290  2019-08-23 2019-08-23 07:45:28.290
...            ...         ...                     ...
3131  11:02:31.642  2019-08-23 2019-08-23 11:02:31.642
3132  11:02:33.176  2019-08-23 2019-08-23 11:02:33.176
3133  11:02:33.745  2019-08-23 2019-08-23 11:02:33.745
3134  11:02:34.769  2019-08-23 2019-08-23 11:02:34.769
3135  11:03:03.435  2019-08-23 2019-08-23 11:03:03.435

[3136 rows x 3 columns]

In [ ]:
xx.to_csv('Time_list.csv')